.body{
    padding: 0;
    margin:  0;
    width: 100%;
}

.navigation{
    background: rgb(255, 255, 255);
    height: 102px;   
    padding: 0 100px;
}

.nav_ul{
    margin: 0;
    padding: 0;
    list-style-type: none;   
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav_logo{
    margin: 35px auto 0 20px;
}

.nav_li{
    margin: 35px 20px 0 0;
}

.search{
        background-color: #F5F5F5;
        border-radius: 6px;
        width: 240px;
        height: 42px;
        display: flex;
        justify-content: flex-start ;   
        align-items: center;
        padding: 0 15px;
}

.search img{
    margin-right: 10px;
}

.investing-made-easy {
    color: #222222;
    font-family: FuturaBT;
    font-size: 40px;
    line-height: 47.95px;
    width: 416px;
    text-align: left;
  }

  .indias-fastest-grow {
    margin: 20px 0  15px 0;
    color: #222222;
    font-family: Avenir;
    font-size: 17px;
    line-height: 29px;
    opacity: 0.699999988079071;
    width: 455px;
    text-align: left;
  }
.get_started_button{
    background-color: #00D09C;
    border-radius: 4px;
    width: 150px;
    box-shadow: 0 5px 20px 0 rgba(90, 202, 157, 0.05);
    height: 52px;
    display: flex;
    justify-content: center;  
    align-items: center;
}

.get-started-now {
    color: #FFFFFF;
    font-family: Avenir;
    font-size: 18px;
    line-height: 24.59px;
    text-align: center;
  }
.rectangle{
    background: #ffffff;
    height:auto;    
    padding: 70px 100px;    
    display: flex;
   
}

.rectangle1{
    margin: auto;
    background: rgb(255, 255, 255);
    padding: 10px;
    width: 40%;
}

.rectangle2{
    background-color: #E4FAF4;
    height: auto;
    margin-top: 5px;
    padding: 35px 100px;
    display: flex;
    justify-content: space-evenly;
}

.header_footer{
    display: flex;
    flex-direction: column;
    min-width: 500px;
}

.trusted-by-millions {
    min-width: 450px;
    color: #222222;
    font-family: Futura;
    font-size: 30px;
    line-height: 39px;
    text-align: left;
}

.we-are-registered-as {
    min-width: 450px;
    color: #222222;
    font-family: Avenir;
    font-size: 17px;
    line-height: 29px;
    opacity: 0.699999988079071;
    width: 504px;
    text-align: left;
    margin-top: 10px;
}

.rectangle2 div{
    width: 45%;
}

section .rectangle.rectangle2 div{
    width: 500px;
}

.guru {
    background: #ffffff;
    height:auto;    
    padding: 70px 100px;    
    display: flex;
    justify-content:space-around; 
   
}

.about-mutal-funds {
    color: #222222;
    font-family: Avenir;
    font-size: 17px;
    line-height: 28px;
    opacity: 0.699999988079071;
    text-align: left;
}

.learn-with-fund-guru {
    color: #222222;
    font-family: Futura;
    font-size: 40px;
    line-height: 52px;
    text-align: left;
}

.mutual{
    max-width: 500px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.watch-video {
    color: #00D09C;
    font-family: Avenir;
    font-size: 19px;
    line-height: 28px;
    display: flex;
    justify-content: space-between ;
    align-items: center;
}

.watch-video img{
    display: flex;
    align-items: center;
    margin-left: 7px;
}
.ok_list{
    display: flex;
    margin: 7px;
}

.two_button{
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin-top: 15px;
}
.mutual-funds-intro {
    color: #222222;
    font-family: Avenir;
    font-size: 17px;
    line-height: 28px;
    opacity: 0.699999988079071;
    text-align: left;
    margin-left: 10px;
}
.logo_group{
    display:flex;
    justify-content:center;
    align-items: center;    
}

.logo_group div{
    margin-left: 75px;
}

.expert{
    display: flex;
    background-image: linear-gradient(180deg, #E4FAF4 0%, #FFFFFF 100%);
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    
}
.ask-the-expert {
    color: #222222;
    font-family: Futura;
    font-size: 40px;
    line-height: 52px;
    text-align: left;
}

.you-can-schedule-a-m {
    color: #222222;
    font-family: Avenir;
    font-size: 17px;
    line-height: 29px;
    opacity: 0.699999988079071;
    text-align: left;
}

.investing-made-easy {
    color: #222222;
    font-family: FuturaBT;
    font-size: 24px;
    line-height: 28.77px;
    text-align: left;
}

.three-simple-options {
    color: #222222;
    font-family: Avenir;
    font-size: 17px;
    line-height: 29px;
    opacity: 0.699999988079071;
    width: 260px;
    text-align: left;
}
.expert_content{
    display: flex;
    flex-direction: column;
    padding:10px;
    flex:1;
    margin-left: 75px;
}

.expert_content_heading{
    min-width: inherit;
    flex:1;
    margin-bottom: 30px;
}

.expert_sub_content{
    display: flex;
    flex-direction: row;
}

.expert_sub_content div{
    max-width: 250px;
    margin-right: 50px;
    margin-top: 20px;
}

.expert_image{
    flex:1;
    
}

.manage_main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 75px;
}
.manage_investment{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.now-you-will-be-at-e {
    color: #222222;
    font-family: Avenir;
    font-size: 17px;
    line-height: 29px;
    opacity: 0.699999988079071;
    width: 414px;
    text-align: center;
    margin-top:20px;
}

.download-the-app-now {
    color: #222222;
    font-family: FuturaBT;
    font-size: 24px;
    line-height: 28.77px;
    text-align: center;
    margin: 50px 0 15px 0 ;
}
.manage-your-investme {
    color: #222222;
    font-family: FuturaBT;
    font-size: 30px;
    line-height: 35.96px;
    text-align: center;
}
.download_investment{
    text-align: center;
    width: 350px;
}

.download_buttons{
    display: flex;
    justify-content: space-between;
}

.footer{
    padding: 30px 150px 2px 150px;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    box-shadow: 0 -35px 20px 0 rgba(0, 0, 0, 0.03);
}

.footer_main{
    display: flex;
    justify-content: space-between;
}
.footer_logo{
    width: 1fr;
    padding: 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    justify-self: flex-start;
    
}

.footer_main_content{
    width: 600px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.footer_main_content2{
    width: 600px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.footer_main_content_item{
    padding: 10px;
    margin: 1px;
    width: 200px;
 

}

.footer_footer{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    max-height: 25px;
    margin-top: 35px;
}

.footer_footer_social img{
    margin-right: 30px;
}

.quick-links {
    color: #222222;
    font-family: Avenir;
    font-size: 17px;
    line-height: 23px;
    text-align: left;
  }

.explore-funds {
    margin: 10px 0 10px 0;
    color: #222222;
    font-family: Avenir;
    font-size: 15px;
    line-height: 20px;
    opacity: 0.699999988079071;
    text-align: left;
}

.footer_app_logo{
    margin: 5px;
    display: flex;
    justify-content:flex-start;
}

.footer_app_logo div{
    margin-right: 15px;
}



